/*.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
*/

/*.body{
     width:80%;
	margin-right: auto;
    margin-left: auto;
	}*/

/*----------cusom css---------*/
h1, h4 {
	color: #FFF;
	text-align: center;
}
.head h4 {
	padding-top: 400px;
}
a, a:visited {
	text-decoration: none;
	color: #FFF;
}
.logo {
	margin-top: 20px;/*margin-left:100px;*/
}
.head {
	background-image: url(../images/header.png);
	background-size: 100% 100%;
	background-attachment: fixed;
	height: 700px;/*width:90%;*/
}
.container .head ul {
	float: right;
	margin-top: 20px;
}
.container .head ul li {
	display: inline;
	float: left;
	width: 60px;
}
.container .head ul li a:hover {
	color: #fed136;
}
/*----------serv css ------start---*/
.serv {
	/*height:400px;*/
	color: #333;
}
.serv h1 {
	padding-top: 80px;
	color: #333;
}
.serv h6 {
	text-align: center;
	color: #969696;
	padding-bottom: 50px;
}
/*----------serv css ------END---*/
/*----------port css ------start---*/
.port {
	/*height:400px;*/
	background-color: #f1eaea;
	color: #333;
}
.port h1 {
	padding-top: 80px;
	color: #000;
}
.port h6 {
	text-align: center;
	color: #969696;
	padding-bottom: 50px;
}
figure {
	display: inline-block;
	border: 1px gray;
	margin: 5px; /* adjust as needed */
}
figure img {
	vertical-align: top;
}
figure figcaption {
	border: 1px blue;
	text-align: center;
	background-color: #FFF;
}
/*----------serv css ------END---*/
/*----------cont css ------start---*/
.cont {
	/*height:500px;
	width:90%;*/
	background-image: url(../images/cover-footer.png);
	background-size: 100% 100%;
	background-position: center center;
}
.cont h1 {
	padding-top: 80px;
	color: #FFF;
}
.cont h6 {
	text-align: center;
	color: #696969;
	padding-bottom: 50px;
}
form .form-control {
	width: 80%;
	margin-top: 10px;
	/*	vertical-align: middle;*/


}
.txt {
	margin-left: auto;
	margin-right: auto;
}
.mesg-btn {
	margin-top: 50px;
}
/*----------cont css ------END---*/
/*----------cusom css------END---*/
.centering {
	float: none;
	margin: 0 auto;
}
 @media only screen and (max-width : 767px) and (min-width : 250px) {
form .form-control {
	background-color: #CCC;
	width: 50%;
	margin-top: 10px;
	
	margin-left: auto;
	margin-right: auto;
}
.serv-img {
	width: 40%;
	margin-top: 10px;

	margin-left: auto;
	margin-right: auto;
}
.port-img {
	float: none;
	width: 80%;
	margin-top: 10px;
	
	margin-left: auto;
	margin-right: auto;
}
.container .head ul {
	width: 70%;
	margin-right: auto;
	margin-left: auto;
}
.container .head ul li {
	display: block;
	/*	background-color:#fed136;*/
	float: none;
	width: 150px;
	height: 40px;
	text-align: center;
}
figure {
	display: inline-block;
	border: 1px gray;
	margin: 5px; /* adjust as needed */
}
figure img {
	vertical-align: top;
}
figure figcaption {
	border: 2px blue;
	text-align: center;
}
.head, .cont {
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}
 }
/*@media only screen and (max-width : 1024px) and (min-width : 770px) {
	
	.port-img{
	
    width:40%;
	margin-top:10px;;
	 margin-left: auto;
     margin-right: auto;
}
	

	}*/
